apiVersion: apps/v1
kind: Deployment
metadata:
  name: hop-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hop
  template:
    metadata:
      labels:
        app: hop
    spec:
      containers:
        - name: hop
          image: apache/hop:2.15.0
          ports:
            - containerPort: 8080
            - containerPort: 8079
          env:
            #- name: HOP_LOG_PATH
            #  value: /opt/hop/hop.err.log
            - name: HOP_SERVER_PORT
              value: "8080"
            - name: HOP_SERVER_SHUTDOWNPORT
              value: "8079"
            - name: HOP_SERVER_USER
              value: "hop"
            - name: HOP_SERVER_PASS
              value: "sejalivre"
            - name: HOP_OPTIONS
              value: "-Xms1g -Xmx2g"
          resources:
            requests:
              memory: "1Gi"
              cpu: "1"
            limits:
              memory: "2Gi"
              cpu: "2"

---
apiVersion: v1
kind: Service
metadata:
  name: hop-service
spec:
  type: NodePort
  selector:
    app: hop
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30090
    - name: shutdown
      port: 8079
      targetPort: 8079
      nodePort: 30079
