apiVersion: v1
kind: ConfigMap
metadata:
  name: iceberg-catalog-config
data:
  application.properties: |
    rest.catalog.port=8181
    catalog.type=hadoop
    catalog.warehouse=s3a://warehouse

    # Config S3A / MinIO
    fs.s3a.endpoint=http://minio-data-driven-hl.tenant-data-driven.svc.cluster.local:9000
    fs.s3a.access.key=minioadmin
    fs.s3a.secret.key=minio123
    fs.s3a.impl=org.apache.hadoop.fs.s3a.S3AFileSystem
    fs.s3a.path.style.access=true
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: iceberg-rest-catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iceberg-rest-catalog
  template:
    metadata:
      labels:
        app: iceberg-rest-catalog
    spec:
      containers:
        - name: iceberg-rest-catalog
          image: apache/iceberg-rest-fixture:1.10.0 
          volumeMounts:
            - name: config
              mountPath: /opt/iceberg/config
      volumes:
        - name: config
          configMap:
            name: iceberg-catalog-config

---
apiVersion: v1
kind: Service
metadata:
  name: iceberg-rest-catalog
spec:
  selector:
    app: iceberg-rest-catalog
  ports:
    - protocol: TCP
      port: 8181
      targetPort: 8181
  type: ClusterIP
